button {

  background-color: black;

  border-radius: 10px;
  border: none;

  padding: 10px;
  margin: 10px;

  color:white;

  font-family: sans-serif;
  font-weight: bold;

}

button:hover {
  text-decoration: underline;
}

input {

  background-color: rgb(230, 230, 230);

  border-radius: 10px;
  border: 1px solid lightgrey;

  padding: 10px;
  margin: 10px;

  color: black;

}

.apply-button {

  background-color: rgb(0, 165, 255);

}

.apply-button:hover {

  background-color: rgb(0, 135, 230);
  text-decoration: underline;

}

.apply-button-disabled {
  background-color: grey;
}
.apply-button-disabled:hover {
  background-color: grey;
  text-decoration: none;
}