.Card {

    font-family: sans-serif;
    margin: 15px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);

}

.Card a {

    color: black;
    text-decoration: none;

}

.Card a:hover {
    text-decoration: underline;
}

.Card.center {
    text-align: center;
    padding-top: 5px;
}

.Card.center h1 {
    margin-top: 10px;
}

.Card.center div {
    margin: 15px;
}
